<template>
  <div ref="documentElem" class="document">
    <textarea v-model="content" class="document__textarea" />
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from '@nuxtjs/composition-api'

export default defineComponent({
  setup() {
    function documentContent() {
      const content = ref('')
      const documentElem = ref('')

      const setDocumentSize: () => void = () => {
        const defaultLayoutContent = document.querySelectorAll(
          '#defaultLayoutContent'
        )

        const height = defaultLayoutContent[0].offsetHeight * 0.75

        documentElem.value.style.height = height + 'px'
        documentElem.value.style.width = height / 1.4142 + 'px'
      }

      return {
        content,
        documentElem,
      }
    }

    return {
      ...documentContent(),
    }
  },
})
</script>

<style lang="scss" scoped>
.document {
  width: 380px;
  height: 540px;
}

.document__textarea {
  display: inline-block;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 30px;

  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px 1px rgba($color: #000000, $alpha: 0.1);
}
</style>
