<template>
  <nav class="nav">
    <header class="header">
      <h1 class="header__logo">Text Editor</h1>
      <div class="header__search-container">
        <input type="text" class="header__search-bar" placeholder=" " />
        <SearchIcon class="header__search-icon" />
      </div>
    </header>
    <div class="nav__inner">
      <nuxt-link
        v-for="nav in navList"
        :key="nav.id"
        ref="navLink"
        class="nav__link"
        :to="nav.link"
      >
        <component :is="nav.icon" class="nav__icon" />
        <span class="nav__label">{{ nav.label }}</span>
      </nuxt-link>
      <div ref="line" class="nav__line"></div>
    </div>
    <div class="nav__bottom">
      <nuxt-link class="add-new-project-btn" :to="{ name: 'new-project' }">
        <PlusIcon class="add-new-project-btn__icon" />
        <span class="add-new-project-btn__label">New project</span>
      </nuxt-link>
    </div>
  </nav>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  useRouter,
  useRoute,
  ref,
} from '@nuxtjs/composition-api'

import ProjectsIcon from '@/assets/icons/nav/projects.svg?inline'
import DocumentIcon from '@/assets/icons/nav/document.svg?inline'
import FavoriteIcon from '@/assets/icons/nav/favorite.svg?inline'
import DeletedIcon from '@/assets/icons/nav/deleted.svg?inline'
import SearchIcon from '@/assets/icons/search.svg?inline'
import PlusIcon from '@/assets/icons/plus.svg?inline'

interface Navigation {
  label: string
  link: {
    name: string
  }
  icon: string
  id: number
}

export default defineComponent({
  components: {
    ProjectsIcon,
    DocumentIcon,
    FavoriteIcon,
    DeletedIcon,
    SearchIcon,
    PlusIcon,
  },
  setup() {
    const router: any = useRouter()
    const route: any = useRoute()

    function navigation() {
      const navList = ref<Navigation[]>([
        {
          label: 'Projects',
          link: { name: 'projects' },
          icon: 'ProjectsIcon',
          id: 1,
        },
        {
          label: 'Favorite',
          link: { name: 'favorite' },
          icon: 'FavoriteIcon',
          id: 2,
        },
        {
          label: 'Deleted',
          link: { name: 'deleted' },
          icon: 'DeletedIcon',
          id: 3,
        },
      ])

      const line = ref<any>('')
      const navLink = ref<any>('')

      const getActiveNav: (a: string) => Navigation = (name) => {
        const nav = navList.value.filter((link: Navigation) => {
          return link.link.name === name
        })[0]

        return nav
      }

      const getNavHeight: (a: number) => number = (idx) => {
        return navLink.value[idx].$el.offsetHeight
      }

      const moveLine: (a: string) => void = (name) => {
        const checkName = navList.value.filter((nav) => {
          return nav.link.name === route.value.name
        })

        if (!checkName.length) {
          line.value.style.opacity = 0
          return
        }

        line.value.style.opacity = 1

        const lineHeight = getNavHeight(getActiveNav(name).id - 1)
        let top = 0

        for (let i = 1; i < getActiveNav(name).id; i++) {
          top += getNavHeight(i - 1)
        }

        line.value.style.height = lineHeight + 'px'
        line.value.style.top = top + 'px'
      }

      router.afterEach((to: any) => {
        moveLine(to.name)
      })

      onMounted(() => {
        moveLine(route.value.name)
      })

      return {
        navList,
        line,
        navLink,
      }
    }

    return {
      ...navigation(),
    }
  },
})
</script>

<style lang="scss" scoped>
.nav {
  position: sticky;
  top: 0;

  width: 100%;
  height: 100vh;
  background: map-get($main-colors, first);

  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__logo {
  white-space: nowrap;
  margin-bottom: 20px;
}

.header__search-container {
  position: relative;
  width: 100%;
}

.header__search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  width: 18px;
  height: auto;
  fill: map-get($main-colors, fourth);
  opacity: 0;
}

.header__search-bar {
  width: 100%;
  padding: 10px;
  border: solid 2px map-get($main-colors, fourth);
  border-radius: 0.3rem;
  transition: 0.2s ease-in-out;

  &:focus {
    border-color: map-get($main-colors, third);
  }

  &:placeholder-shown ~ .header__search-icon {
    opacity: 1;
  }
}

.nav__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 20px 45px;
  transition: 0.1s ease-in-out;

  &:hover {
    background: rgba($color: map-get($main-colors, fourth), $alpha: 0.2);
  }

  &.nuxt-link-active {
    .nav__icon {
      fill: map-get($main-colors, third);
    }

    .nav__label {
      color: map-get($main-colors, third);
    }
  }
}

.nav__icon {
  width: 26px;
  margin-right: 10px;
  transition: 0.1s ease-in-out;
  fill: map-get($main-colors, fourth);
}

.nav__label {
  font-weight: 600;
  color: map-get($main-colors, fourth);
  transition: 0.1s ease-in-out;
}

.nav__line {
  position: absolute;
  right: 0;
  width: 3px;
  background: map-get($main-colors, third);
  transition: 0.2s ease-in-out;
}

.nav__bottom {
  padding: 0 15px;
}

.add-new-project-btn {
  padding: 15px 35px;
  background: map-get($main-colors, third);
  border-radius: 0.3rem;

  display: flex;
  align-items: center;

  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 4px
      rgba($color: map-get($main-colors, third), $alpha: 0.2);
    transform: translate3d(0, -2px, 0);
  }
}

.add-new-project-btn__icon {
  margin-right: 10px;
}

.add-new-project-btn__label {
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
}
</style>
