<template>
  <div class="tools">
    <div v-for="(block, idx) in toolsList" :key="idx + 1" class="tools__block">
      <div v-for="tool in block" :key="tool.id" class="tools__item">
        <component
          :is="tool.icon"
          :class="{ tools__icon: true, selected: tool.selected }"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import BoldIcon from '@/assets/icons/tools/bold.svg?inline'
import ArrowIcon from '@/assets/icons/tools/arrow.svg?inline'
import ItalicIcon from '@/assets/icons/tools/italic.svg?inline'
import DotsListIcon from '@/assets/icons/tools/dots-list.svg?inline'
import UnderlineIcon from '@/assets/icons/tools/underline.svg?inline'
import TextColorIcon from '@/assets/icons/tools/text-color.svg?inline'
import AlineLeftIcon from '@/assets/icons/tools/align-left.svg?inline'
import AlineRightIcon from '@/assets/icons/tools/align-right.svg?inline'
import NumberListIcon from '@/assets/icons/tools/number-list.svg?inline'
import FontFamilyIcon from '@/assets/icons/tools/font-family.svg?inline'
import AlineCenterIcon from '@/assets/icons/tools/align-center.svg?inline'
import StrikethroughIcon from '@/assets/icons/tools/strikethrough.svg?inline'

interface Tool {
  label: string
  selected?: boolean
  icon: string
  id: number
}

export default defineComponent({
  components: {
    BoldIcon,
    ArrowIcon,
    ItalicIcon,
    DotsListIcon,
    UnderlineIcon,
    TextColorIcon,
    AlineLeftIcon,
    AlineRightIcon,
    NumberListIcon,
    FontFamilyIcon,
    AlineCenterIcon,
    StrikethroughIcon,
  },
  setup() {
    function tools() {
      const toolsList = ref<Tool[][]>([
        [
          {
            label: 'Bold',
            selected: false,
            icon: 'BoldIcon',
            id: 1,
          },
          {
            label: 'Italic',
            selected: false,
            icon: 'ItalicIcon',
            id: 2,
          },
          {
            label: 'Underline',
            selected: false,
            icon: 'UnderlineIcon',
            id: 3,
          },
          {
            label: 'Strikethrough',
            selected: false,
            icon: 'StrikethroughIcon',
            id: 4,
          },
        ],
        [
          {
            label: 'Align left',
            selected: false,
            icon: 'AlineLeftIcon',
            id: 1,
          },
          {
            label: 'Align center',
            selected: false,
            icon: 'AlineCenterIcon',
            id: 2,
          },
          {
            label: 'Align right',
            selected: false,
            icon: 'AlineRightIcon',
            id: 3,
          },
        ],
        [
          {
            label: 'Dots list',
            selected: false,
            icon: 'DotsListIcon',
            id: 1,
          },
          {
            label: 'Number list',
            selected: false,
            icon: 'NumberListIcon',
            id: 2,
          },
        ],
        [
          {
            label: 'Text color',
            icon: 'TextColorIcon',
            id: 1,
          },
          {
            label: 'Font family',
            icon: 'FontFamilyIcon',
            id: 2,
          },
        ],
      ])

      return {
        toolsList,
      }
    }

    return {
      ...tools(),
    }
  },
})
</script>

<style lang="scss" scoped>
.tools {
  position: fixed;
  top: 40px;
  left: 50%;
  z-index: 99;
  transform: translateX(-33.5%);

  display: flex;
  align-items: center;

  box-shadow: 0 0 8px 1px rgba($color: #000000, $alpha: 0.1);
  background: #fff;
  border-radius: 0.5rem;

  overflow: hidden;
}

.tools__block {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    border-right: solid 2px map-get($main-colors, fourth);
  }
}

.tools__item {
  padding: 15px 20px;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  &:hover {
    background: rgba($color: map-get($main-colors, fourth), $alpha: 0.5);
  }
}

.tools__icon {
  height: 20px;
  width: auto;
  fill: $main-text-color;
}
</style>
