@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $main-text-color;

  background-color: map-get($main-colors, second);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $main-text-color;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input, button, textarea {
  outline: none;

  font-family: 'Inter', sans-serif;
  font-size: 14px;
}



// ------------ Animations ------------ //
.page-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.page-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.page-enter-active,
.page-leave-active {
  transition: 0.3s ease-in-out;
}
