<template>
  <div class="default-layout" @mousewheel.ctrl.prevent>
    <div class="default-layout__nav">
      <Navigation />
    </div>
    <div class="default-layout__content">
      <transition name="tools">
        <Tools v-if="toolsRequired" />
      </transition>
      <!-- <vuescroll :ops="options"> -->
        <div id="defaultLayoutContent" class="default-layout__content-inner">
          <Nuxt />
        </div>
      <!-- </vuescroll> -->
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, useRoute } from '@nuxtjs/composition-api'
import vuescroll from 'vuescroll';
import Navigation from '@/components/Navigation.vue'
import Tools from '@/components/Tools.vue'

export default defineComponent({
  components: {
    vuescroll,
    Navigation,
    Tools,
  },
  setup() {
    const route = useRoute()

    const toolsRequired = computed(() => {
      return route.value.name === 'new-project'
    })

    function scroll() {
      const options = {
        sizeStrategy: 'number',
      }

      return {
        options,
      }
    }

    return {
      ...scroll(),
      toolsRequired,
    }
  },
})
</script>

<style lang="scss" scoped>
.tools-enter,
.tools-leave-to {
  opacity: 0;
}

.tools-enter-active,
.tools-leave-active {
  transition: 0.2s ease-in-out;
}

.default-layout {
  width: 100%;
  display: flex;
}

.default-layout__content {
  width: 100%;
}

.default-layout__content-inner {
  width: 100%;
  height: 100vh;
  padding: 40px;
  overflow: auto;
}
</style>
