<template>
  <h1>Favorite</h1>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  setup() {

  },
})
</script>


<style lang="scss" scoped>

</style>
