<template>
  <div class="main-page">

  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  meta: {
    moveLine: true,
  },
  setup() {

  },
})
</script>

<style lang="scss" scoped>

</style>
