<template>
  <div
    ref="newProjectPage"
    class="new-project-page"
    @mousewheel="(evt) => scaleContent(evt)"
  >
    <Document />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import Document from '@/components/Document.vue'

export default defineComponent({
  components: {
    Document,
  },
  setup() {
    function scale() {
      const newProjectPage = ref('')
      let scale = 1

      const scaleContent: (a: any) => void = (evt) => {
        if (evt.ctrlKey) {
          if (evt.deltaY < 0 && scale < 2) {
            scale += 0.1
          } else if (evt.deltaY > 0 && scale >= 0.5) {
            scale -= 0.1
          }
          newProjectPage.value.style.transform = `scale(${scale})`
        }
      }

      return {
        scaleContent,
        newProjectPage,
      }
    }

    return {
      ...scale(),
    }
  },
})
</script>

<style lang="scss" scoped>
.new-project-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
</style>
